<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}MoodCast{% endblock %}</title>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='icon/favicon.png') }}">
  <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/sb-admin-2.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
</head>
<body id="page-top">

<div id="wrapper">
  {% if current_user.is_authenticated %}
    {% include 'partials/_sidebar.html' %}
  {% endif %}

  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      {% if current_user.is_authenticated %}
        {% include 'partials/_topbar.html' %}
      {% endif %}

      <div class="container-fluid">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
          {% endfor %}
        {% endwith %}

        {% block content %}{% endblock %}
      </div>
    </div>
    {% include 'partials/_footer.html' %}
  </div>
</div>

<script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/sb-admin-2.min.js') }}"></script>
</body>
</html>