#cal-heatmap {
  overflow-x: auto; margin: auto; padding: 10px 0;
}
.cal-heatmap .graph text {
  fill: #6c757d !important; font-size: 0.75rem;
}
.cal-heatmap .subdomain {
  stroke: #fff; stroke-width: 1;
}